<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>自动化测试平台</title>
    <style>
table tbody {
    display:inline-block;
    height:480px;
    overflow-y:auto;
    -ms-overflow-x:auto;
    border: 1px;
    font-size: 10px;

}

table thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
    font-size: 10px;
}

td {overflow: auto;height: auto}
a.button_add{
    background-color: #1890ff;
    color: #fff;
    border-color: #1890ff;
    height: 24px;
    padding:10px;
    font-size:14px;
    border-radius:4px;
    margin-top: 50px;
}
</style>
</head>
<body role="document">
<!--导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class = "container">
            <a class = "navbar-brand" href="#">&nbsp;</a>
            <ul class = "nav justify-content-center">
            </ul>
            <u1 class="nav justify-content-end">
                <li ><a style="color:white" href="../admin/">欢迎您,{{ user }}  &nbsp;&nbsp;</a></li>
                <li><a style="color:white" href="/logout/">退出</a></li>
            </u1>
    </div>
</nav>
<!--搜索栏-->
<div class="page-header" style="padding-top:70px;">
    <form class="navbar-form" method="get" action="/apistepsearch/">
        {% csrf_token %}
        <input type="search" name="title" placeholder="测试用例名称" required>
        <button type="submit">搜索</button>
    </form>
</div>
<!--新增独立接口测试用例按钮-->
<div style="margin-top: 15px;">
<a class="button_add" href="../admin/apitest/apitest/add/">新增</a>
</div>
<!--翻页功能-->
<nav>
    <span style = "position: absolute;right:100px;bottom: 5px">
    <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="/apistep_manage/?page={{ apisteps_count }}">共{{ apisteps_count }}条</a>
            </li>
        {% if apisteps.has_previous %}
            <li class="page-item">
                <a class="page-link" href="/apistep_manage/?page={{ apisteps.previous_page_number }}">&laquo;</a>
            </li>
        {% endif %}

        {% if left_has_more %}
            <li class="page-item">
                <a class="page-link" href="/apistep_manage/?page=1">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript: void(0);">...</a>
            </li>
        {% endif %}

        {% for page in left_page_range %}
            <li class="page-item">
                <a class="page-link" href="/apistep_manage/?page={{ page }}">{{ page }}</a>
            </li>
        {% endfor %}

        <li class="page-item active">
            <a class="page-link" href="javascript: void(0);">{{ apisteps.number }}</a>
        </li>

        {% for page in right_page_range %}
            <li class="page-item">
                <a class="page-link" href="/apistep_manage/?page={{ page }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if right_has_more %}
            <li class="page-item">
                <a class="page-link" href="javascript: void(0);">...</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/apistep_manage/?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
            </li>
        {% endif %}

        {% if apisteps.has_next %}
            <li class="page-item">
                <a class="page-link" href="/apistep_manage/?page={{ apisteps.next_page_number }}">&raquo;</a>
            </li>
        {% endif %}
    </ul>
    </span>
</nav>
<!--流程接口测试步骤-->
<div class="row" style = "padding-top: 20px;padding-left: 20px" >
    <div class="col-md-ll" >
        <table class="table table-striped" border="0" width="100%" >
            <thead>
            <tr>
                <th>id</th>
                <th>流程id</th>
                <th>测试用例名称</th>
                <th>前置等待时间</th>
                <th>请求地址</th>
                <th>请求用户</th>
                <th>请求方法</th>
                <th>预期响应</th>
                <th>实际响应</th>
                <th>测试结果</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for apistep in apisteps %}
            <tr>
                <td>{{ apistep.id }}</td>
                <td>{{ apistep.Apitest_id }}</td>
                <td>{{ apistep.title }}</td>
                <td>{{ apistep.waittime }}</td>
                <td>{{ apistep.url }}</td>
                <td>{{ apistep.headers }}</td>
                <td>{{ apistep.apimethod }}</td>
                <td>{{ apistep.exceptresponse }}</td>
                <td>{{ apistep.acutalresponse }}</td>
                <td>{% if apistep.apistatus == 1 %}
                <a style="color:green">{{ apistep.stauts }}</a>
                {% else %}
                <a style="color:red">{{ apistep.stauts }}</a>
                {% endif %}
                </td>
                <td>{{ apistep.create_time }}</td>
                <td>
                    <a style='color:lightblue' class="related-widget-wrapper-link add-related"
                       id="add_id_Apistep" href="../admin/apitest/apitest/{{ apistep.Apitest_id  }}/change/">
                        <img src="/static/admin/img/icon-changelink.svg">
                    </a>
                    <a style='color:lightblue' class="related-widget-wrapper-link add-related"
                       id="add_id_Apistep" href="../admin/apitest/apitest/{{ apistep.Apitest_id }}/delete/">
                        <img src="/static/admin/img/icon-deletelink.svg">
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

</body>
</html>