<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-cn">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>自动化测试平台</title>
</head>
<body role="document">
<!--导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class = "nav justify-content-center">
            </ul>
            <u1 class="nav justify-content-end">
                <li ><a style="color:white" href="../admin/">欢迎您,{{ user }}  &nbsp;&nbsp;</a></li>
                <li><a style="color:white" href="/logout/">退出</a></li>
            </u1>
    </div>
</nav>
<!--搜索栏-->
<div class="page-header" style="padding-top:70px;">
    <form class="navbar-form" method="get" action="/apissearch/">
        {% csrf_token %}
        <input type="search" name="feature" placeholder="所属模块" required>
        <button type="submit">搜索</button>
    </form>
</div>
<!--单一接口测试用例-->
<div class="row" style = "padding-top: 70px">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>所属模块</th>
                <th>用例名称</th>
                <th>用例标题</th>
                <th>用例链接</th>
                <th>缺陷地址</th>
                <th>用例方法</th>
                <th>接口路径</th>
                <th>是否启用</th>
                <th>实际结果</th>
                <th>测试负责人</th>
                <th>创建时间</th>
            </tr>
            </thead>
            <tbody>
            {% for api in apis %}
                <tr>
                <td>{{ api.id }}</td>
                <td>{{ api.feature }}</td>
                <td>{{ api.story }}</td>
                <td>{{ api.title }}</td>
                <td>{{ api.link }}</td>
                <td>{{ api.issue }}</td>
                <td>{{ api.method }}</td>
                <td>{{ api.url }}</td>
                <td>{{ api.enable }}</td>
                <td>{{ api.result }}</td>
                <td>{{ api.tester }}</td>
                <td>{{ api.create_time }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>