<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-cn">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>自动化测试平台</title>
    <style>
table tbody {
    display:inline-block;
    height:480px;
    overflow-y:auto;
    -ms-overflow-x:auto;
    border: 1px;

}

table thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

td {overflow: auto;}


</style>

</head>
<body role="document">
<!--导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class = "nav justify-content-center">
            </ul>
            <u1 class="nav justify-content-end">
                <li ><a style="color:white" href="../admin/">欢迎您,{{ user }}  &nbsp;&nbsp;</a></li>
                <li><a style="color:white" href="/logout/">退出</a></li>
            </u1>
    </div>
</nav>
<!--搜索栏-->
<div class="page-header" style="padding-top:70px;">
    <form class="navbar-form" method="get" action="/apissearch/">
        {% csrf_token %}
        <input type="search" name="feature" placeholder="所属模块" required>
        <button type="submit">搜索</button>
    </form>
</div>
<!--翻页功能-->
<span style="position:absolute; right:100px; bottom:30px;">
<div class = "container">
    <ul class="pagination" id="paper">
        <a>总共{{ apis.paginator.count }}条</a>
        {# 上一页链接开始 #}
        {% if apis.has_previous %}
        {# 如果有上一页，则正常显示上一页链接 #}
        <li class="previous">
            <a href="/apis_manage/?page={{ apis.previous_page_number }}">上一页</a>
        </li>
        {% else %}
        <li class="previous disabled">
            <a href="#">上一页</a>
        </li>
        {# 如果当前不存在上一页，则上一页的链接不可单击 #}
        {% endif %}
        {# 上一页链接结束 #}
        {% if apis.paginator.page_num <= 10 %}
            {% for num in apis.paginator.page_range %}
                {% if num == currentPage %}
                    <li class="item active">
                        <a href="/apis_manage/?page={{ num }}">{{ num }}</a>
                    </li>
                {% else %}
                    <li class="item">
                        <a href="/apis_manage/?page={{ num }}">{{ num }}</a>
                    </li>
                {% endif %}
            {% endfor %}
        {% else %}
            {% if apis.number < 6 %}
                {% for num in apis.paginator.page_range %}
                    {% if  num < 6 %}
                        {% if num == currentPage %}
                            <li class="item active">
                                <a href="/apis_manage/?page={{ num }}">{{ num }}&nbsp;</a>
                            </li>
                        {% else %}
                            <li class="item">
                                <a href="/apis_manage/?page={{ num }}">{{ num }}&nbsp;</a>
                            </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
                <a>...</a>
            <li class="item">
                <a href="/apis_manage/?page={{ apis.paginator.num_pages }}">{{ apis.paginator.num_pages }}</a>
            </li>
            {% endif %}
            {% if apis.number >= 6 and  apis.number|add:4 < apis.paginator.num_pages %}
                <li class="item">
                    <a href="/apis_manage/?page={{ 1 }}">1</a>
                </li>
                <a>...</a>
                <li class="item">
                    <a href="/apis_manage/?page={{ apis.number|add:-2 }}">{{ apis.number|add:-2 }}&nbsp;</a>
                    <a href="/apis_manage/?page={{ apis.number|add:-1 }}">{{ apis.number|add:-1 }}&nbsp;</a>
                </li>
                <li class="item active">
                    <a href="/apis_manage/?page={{ apis.number }}">{{ apis.number }}&nbsp;</a>
                </li>
                <li class="item">
                    <a href="/apis_manage/?page={{ apis.number|add:1 }}">{{ apis.number|add:1 }}&nbsp;</a>
                    <a href="/apis_manage/?page={{ apis.number|add:2 }}">{{ apis.number|add:2 }}&nbsp;</a>
                </li>
                <a>...</a>
                <li class="item">
                <a href="/apis_manage/?page={{ apis.paginator.num_pages }}">{{ apis.paginator.num_pages }}</a>
                </li>
            {% endif %}
            {% if apis.number|add:5 > apis.paginator.num_pages %}
                <a href="/apis_manage/?page={{ 1 }}">1</a>
                <a>...</a>
                <a href="/apis_manage/?page={{ apis.paginator.num_pages|add:-3 }}">{{ apis.paginator.num_pages|add:-3 }}&nbsp;</a>
                <a href="/apis_manage/?page={{ apis.paginator.num_pages|add:-2 }}">{{ apis.paginator.num_pages|add:-2 }}&nbsp;</a>
                <a href="/apis_manage/?page={{ apis.paginator.num_pages|add:-1 }}">{{ apis.paginator.num_pages|add:-1 }}&nbsp;</a>
                <a href="/apis_manage/?page={{ apis.paginator.num_pages }}">{{ apis.paginator.num_pages }}&nbsp;</a>
            {% endif %}
        {% endif %}
        {# 下一页链接开始 #}
        {% if apis.has_next %}
        {# 如果有上一页，则正常显示上一页链接 #}
        <li class="next">
            <a href="/apis_manage/?page={{ apis.next_page_number }}">下一页</a>
        </li>
        {% else %}
        <li class="next disabled">
            <a href="#">下一页</a>
        </li>
        {% endif %}
        {# 下一页链接结束 #}

    </ul>
</div>
</span>
<!--单一接口测试用例-->
<div class="row" style = "padding-top: 20px;padding-left: 20px" >
    <div class="col-md-ll" >
        <table class="table table-striped" border="0.5" width="100%" >
        <thead>
            <tr>
                <th class = "table-3">ID</th>
                <th class = "table-2">所属模块</th>
                <th class = "table-2">用例名称</th>
                <th>用例标题</th>
                <th>用例方法</th>
                <th>接口路径</th>
                <th class = "table-3">是否启用</th>
                <th class = "table-3">实际结果</th>
                <th>测试负责人</th>
                <th>创建时间</th>
            </tr>
        </thead>
        <tbody>
        {% for api in apis %}
            <tr>
            <td class = "table-3">{{ api.id }}</td>
            <td class = "table-2">{{ api.feature }}</td>
            <td class = "table-2">{{ api.story }}</td>
            <td>{{ api.title }}</td>
            <td>{{ api.method }}</td>
            <td>{{ api.url }}</td>
            <td class = "table-3">{{ api.enable }}</td>
            <td class = "table-3">{{ api.result }}</td>
            <td>{{ api.tester }}</td>
            <td>{{ api.create_time }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    </div>
    </div>
    </body>
</html>