<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>自动化测试平台</title>
    <style>
table tbody {
    display:inline-block;
    height:480px;
    overflow-y:auto;
    -ms-overflow-x:auto;
    border: 1px;
    font-size: 10px;

}

table thead, tbody tr {
    display:table;
    width:100%;
    table-layout:fixed;
}

td {overflow: auto;height: auto}
a.button_add{
    background-color: #1890ff;
    color: #fff;
    border-color: #1890ff;
    height: 24px;
    padding:10px;
    font-size:14px;
    border-radius:4px;
    margin-top: 50px;
}
</style>
</head>
<body role="document">
<!--导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class = "container">
            <a class = "navbar-brand" href="#">&nbsp; </a>
            <ul class = "nav justify-content-center">
            </ul>
            <u1 class="nav justify-content-end">
                <li ><a style="color:white" href="../admin/">欢迎您,{{ user }}  &nbsp;&nbsp;</a></li>
                <li><a style="color:white" href="/logout/">退出</a></li>
            </u1>
    </div>
</nav>
<!--翻页功能-->
<nav>
    <span style = "position: absolute;right:100px;bottom: 5px">
    <ul class="pagination justify-content-center">
            <li class="page-item">
                <a class="page-link" href="/apitest_manage/?page={{ apitests_count }}">共{{ apitests_count }}条</a>
            </li>
        {% if apitests.has_previous %}
            <li class="page-item">
                <a class="page-link" href="/apitest_manage/?page={{ apitests.previous_page_number }}">&laquo;</a>
            </li>
        {% endif %}

        {% if left_has_more %}
            <li class="page-item">
                <a class="page-link" href="/apitest_manage/?page=1">1</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="javascript: void(0);">...</a>
            </li>
        {% endif %}

        {% for page in left_page_range %}
            <li class="page-item">
                <a class="page-link" href="/apitest_manage/?page={{ page }}">{{ page }}</a>
            </li>
        {% endfor %}

        <li class="page-item active">
            <a class="page-link" href="javascript: void(0);">{{ apitests.number }}</a>
        </li>

        {% for page in right_page_range %}
            <li class="page-item">
                <a class="page-link" href="/apitest_manage/?page={{ page }}">{{ page }}</a>
            </li>
        {% endfor %}

        {% if right_has_more %}
            <li class="page-item">
                <a class="page-link" href="javascript: void(0);">...</a>
            </li>
            <li class="page-item">
                <a class="page-link" href="/apitest_manage/?page={{ paginator.num_pages }}">{{ paginator.num_pages }}</a>
            </li>
        {% endif %}

        {% if apitests.has_next %}
            <li class="page-item">
                <a class="page-link" href="/apitest_manage/?page={{ apitests.next_page_number }}">&raquo;</a>
            </li>
        {% endif %}
    </ul>
    </span>
</nav>
<!--搜索栏-->
<div class="page-header" style="padding-top:70px;">
    <form class="navbar-form" method="get" action="/apitestsearch/">
        {% csrf_token %}
        <input type="search" name="apitestfeature" placeholder="所属模块" required>
        <button type="submit">搜索</button>
    </form>
</div>
<!--新增独立接口测试用例按钮-->
<div style="margin-top: 15px;">
<a class="button_add" href="/apitest_manage/add/">新增</a>
</div>
<!--流程接口列表-->
<div class="row" style = "padding-top: 20px;padding-left: 20px" >
    <div class="col-md-ll" >
        <table class="table table-striped" border="0" width="90%" >
            <thead>
            <tr>
                <th>ID</th>
                <th>所属模块</th>
                <th>业务流程名称</th>
                <th>测试人</th>
                <th>测试结果</th>
                <th>创建时间</th>
                <th>操作</th>
            </tr>
            </thead>
            <tbody>
            {% for apitest in apitests %}
            <tr>
                <td>{{ apitest.id }}</td>
                <td>{{ apitest.apitestfeature}}</td>
                <td>{{ apitest.apiteststory}}</td>
                <td>{{ apitest.apitester}}</td>
                <td>{{ apitest.apitestresult}}</td>
                <td>{{ apitest.create_time}}</td>
                <td>
                    <a style='color:lightblue' class="related-widget-wrapper-link add-related"
                       id="update_id_Apitest" href="/apitest_manage/update/?id={{ apitest.id  }}">
                        <img src="/static/admin/img/icon-changelink.svg">
                    </a>
                    <a style='color:lightblue' class="related-widget-wrapper-link add-related"
                       id="delete_id_Apitest" href="../admin/apitest/apitest/{{ apitest.id  }}/delete/">
                        <img src="/static/admin/img/icon-deletelink.svg">
                    </a>
                </td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>