<!DOCTYPE html>

<html lang="zh-hans" dir="ltr">
<head>
<link rel="stylesheet" type="text/css" href="/static/admin/css/base.css">

  <link rel="stylesheet" type="text/css" href="/static/admin/css/nav_sidebar.css">
    <script src="/static/admin/js/nav_sidebar.js" defer></script>
<link rel="stylesheet" type="text/css" href="/static/admin/css/forms.css">
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<script src="/admin/jsi18n/"></script>
<script src="/static/admin/js/vendor/jquery/jquery.js"></script>
<script src="/static/admin/js/jquery.init.js"></script>
<script src="/static/admin/js/core.js"></script>
<script src="/static/admin/js/inlines.js"></script>
<script src="/static/admin/js/admin/RelatedObjectLookups.js"></script>
<script src="/static/admin/js/actions.js"></script>
<script src="/static/admin/js/urlify.js"></script>
<script src="/static/admin/js/prepopulate.js"></script>
<script src="/static/admin/js/vendor/xregexp/xregexp.js"></script>
<script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
<script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>

<script>
    $("#Revert").modal("hide");
	function change(value){
        //获取 text 的内容
        id1 = document.getElementById('id').value;
        document.getElementById(id1).value = value;
    }
    function Values(id,value){
        $('#id').val(id)
        $('#textarea').val(value)
    }
</script>

    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/static/admin/css/responsive.css">
<style>



</style>
<meta name="robots" content="NONE,NOARCHIVE">
</head>
<body class=" app-apitest model-apitest change-form"
  data-admin-utc-offset="28800">
<!-- Container -->
<div id="container">
 <!-- Content -->
        <div id="content" class="colM" style=height:100%;overflow:auto;>
          <h1>修改 流程场景接口</h1>
          <div id="content-main">
<form method="post" id="apitest_form" action="/apitest_manage/update/submit/">
    {% csrf_token %}
<div>
  <fieldset class="module aligned ">
              <div class="form-row field-id" hidden="hidden" >
                <div>
                        <label class="required" for="id_feature">id:</label>
                            <input  type="text" name="id" readonly = "true" aria-hidden="true" class="vTextField" maxlength="50" required id="id_id" value="{{ apitest.id }}">
                </div>
        </div>
        <div class="form-row field-Product">
                <div>
                        <label class="required" for="id_Product">Product:</label>
                            <div class="related-widget-wrapper">
    <select name="Product" required id="id_Product">
  <option value="">---------</option>
  <option value="1" selected>高保真环境ERP后台</option>
</select>
        <a class="related-widget-wrapper-link change-related" id="change_id_Product"
            data-href-template="/admin/product/product/__fk__/change/?_to_field=id&amp;_popup=1"
            title="更改选中的产品管理">
            <img src="/static/admin/img/icon-changelink.svg" alt="修改">
        </a>
        <a class="related-widget-wrapper-link add-related" id="add_id_Product"
            href="/admin/product/product/add/?_to_field=id&amp;_popup=1"
            title="增加另一个 产品管理">
            <img src="/static/admin/img/icon-addlink.svg" alt="增加">
        </a>
</div>
  </div>
 </div>
        <div class="form-row field-apitestfeature">
                <div>
                        <label class="required" for="id_apitestfeature">模块名称:</label>
                            <input type="text" name="apitestfeature" value="{{ apitest.apitestfeature }}" class="vTextField" maxlength="64" required id="id_apitestfeature">
                </div>
        </div>
        <div class="form-row field-apiteststory">
                <div>
                        <label class="required" for="id_apiteststory">用例名称:</label>
                            <input type="text" name="apiteststory" value="{{ apitest.apiteststory }}" class="vTextField" maxlength="64" required id="id_apiteststory">
                </div>
        </div>
        <div class="form-row field-apitester">
                <div>
                        <label class="required" for="id_apitester">测试负责人:</label>

                            <input type="text" name="apitester" value="{{ apitest.apitester }}" class="vTextField" maxlength="16" required id="id_apitester">
                </div>
        </div>
</fieldset>
<div class="js-inline-admin-formset inline-group" id="apistep_set-group"
     data-inline-type="tabular"
     data-inline-formset="{&quot;name&quot;: &quot;#apistep_set&quot;, &quot;options&quot;: {&quot;prefix&quot;: &quot;apistep_set&quot;, &quot;addText&quot;: &quot;\u6dfb\u52a0\u53e6\u4e00\u4e2a Apistep&quot;, &quot;deleteText&quot;: &quot;\u5220\u9664&quot;}}">
  <div class="tabular inline-related last-related">
<input type="hidden" name="apistep_set-TOTAL_FORMS" value="{{ count|add:1 }}" id="id_apistep_set-TOTAL_FORMS">
      <input type="hidden" name="apistep_set-INITIAL_FORMS" value="{{ count }}" id="id_apistep_set-INITIAL_FORMS">
      <input type="hidden" name="apistep_set-MIN_NUM_FORMS" value="0" id="id_apistep_set-MIN_NUM_FORMS"><input type="hidden" name="apistep_set-MAX_NUM_FORMS" value="1000" id="id_apistep_set-MAX_NUM_FORMS">
<fieldset class="module ">
     <h2>Apisteps</h2>
   <table >
     <thead><tr>
       <th class="original"></th>
         </th>
         <th class="column-apistepid">流程用例ID
         </th>
         <th class="column-waittime">前置等待时间
         </th>
         <th class="column-title required">用例标题
         </th>
         <th class="column-url required">路径
         </th>
         <th class="column-headers">请求头
         </th>
         <th class="column-apimethod required">请求方法
         </th>
         <th class="column-apiparamvalue">请求参数和值
         </th>
         <th class="column-exceptresponse required">期望响应
         </th>
     <th>操作</th>
     </tr></thead>
     <tbody>
        {{ apisteps.management_form }}
        {% for apistep in apisteps %}
        <tr class="form-row has_original"
             id="apistep_set-0">
        <td class="original">

            <td class="field-apistepid">
              <input type="text" name="apistep_set-{{ forloop.counter|add:-1 }}-id" value="{{ apistep.id }}" id="id_apistep_set-{{ forloop.counter|add:-1 }}-id">
              <input type="hidden" name="apistep_set-{{ forloop.counter|add:-1 }}-Apitest" value="{{ apistep.Apitest_id }}" id="id_apistep_set-{{ forloop.counter|add:-1 }}-Apitest">
            </td>
              <td class="field-waittime">
                  <input type="text" name="apistep_set-{{ forloop.counter|add:-1 }}-waittime" value="{{ apistep.waittime }}" class="CharField" maxlength="100" id="id_apistep_set-{{ forloop.counter|add:-1 }}-waittime">
              </td>
              <td class="field-title">
                  <input type="text" name="apistep_set-{{ forloop.counter|add:-1 }}-title" value="{{ apistep.title }}" class="CharField" maxlength="200" id="id_apistep_set-{{ forloop.counter|add:-1 }}-title">
              </td>
              <td class="field-url">
                  <input type="text" name="apistep_set-{{ forloop.counter|add:-1 }}-url" value="{{ apistep.url }}" class="CharField" maxlength="150" id="id_apistep_set-{{ forloop.counter|add:-1 }}-url">
              </td>
              <td class="field-headers">
                  <input type="text" name="apistep_set-{{ forloop.counter|add:-1 }}-headers" value="{{ apistep.headers }}" class="CharField" maxlength="100" id="id_apistep_set-{{ forloop.counter|add:-1 }}-headers">
              </td>
              <td class="field-apimethod">
                  <select name="apistep_set-{{ forloop.counter|add:-1 }}-apimethod" id="id_apistep_set-{{ forloop.counter|add:-1 }}-apimethod">
                      {% if apistep.apimethod == "get" %}
                          <option value="get" selected>get</option>
                      {% else %}
                          <option value="get">get</option>
                      {% endif %}
                      {% if apistep.apimethod == "post" %}
                          <option value="post" selected>post</option>
                      {% else %}
                          <option value="post">post</option>
                      {% endif %}
                      {% if apistep.apimethod == "put" %}
                          <option value="put" selected>put</option>
                      {% else %}
                          <option value="put">put</option>
                      {% endif %}
                      {% if apistep.apimethod == "delete" %}
                          <option value="delete" selected>delete</option>
                      {% else %}
                          <option value="delete">delete</option>
                      {% endif %}
                      {% if apistep.apimethod == "patch" %}
                          <option value="patch" selected>patch</option>
                      {% else %}
                          <option value="patch">patch</option>
                      {% endif %}

</select>
              </td>
              <td class="field-apiparamvalue">
                  <input type="text" name="apistep_set-{{ forloop.counter|add:-1 }}-apiparamvalue" value="{{ apistep.apiparamvalue }}" class="CharField" maxlength="5000" id="id_apistep_set-{{ forloop.counter|add:-1 }}-apiparamvalue" data-toggle="modal" data-target="#Revert" onclick="Values(this.id,this.value)">
              </td>
              <td class="field-exceptresponse">
                  <input type="text" name="apistep_set-{{ forloop.counter|add:-1 }}-exceptresponse" value="{{ apistep.exceptresponse }}" class="CharField" maxlength="200" id="id_apistep_set-{{ forloop.counter|add:-1 }}-exceptresponse">
              </td>

          <td class="btn-group">
              <div class="btn-group-xs">
                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>

                <button type="button" class="btn btn-default">
                    <span class="glyphicon glyphicon-trash"></span>
                </button>
            </div>
          </td>
        </tr>
        {% endfor %}
        <tr class="form-row "
             id="apistep_set-1">
        <td class="original">
          <input type="hidden" name="apistep_set-{{ count }}-id" id="id_apistep_set-{{ count }}-id">
          <input type="hidden" name="apistep_set-{{ count }}-Apitest" value="{{ apistep.Apitest_id }}" id="id_apistep_set-{{ count }}-Apitest">
        </td>
              <td class="field-waittime">
                  <input type="text" name="apistep_set-{{ count }}-waittime" class="CharField" maxlength="100" id="id_apistep_set-{{ count }}-waittime">
             </td>
              <td class="field-title">
                  <input type="text" name="apistep_set-{{ count }}-title" class="CharField" maxlength="200" id="id_apistep_set-{{ count }}-title">
              </td>
              <td class="field-url">
                  <input type="text" name="apistep_set-{{ count }}-url" class="CharField" maxlength="150" id="id_apistep_set-{{ count }}-url">
              </td>
              <td class="field-headers">
                  <input type="text" name="apistep_set-{{ count }}-headers" class="CharField" maxlength="100" id="id_apistep_set-{{ count }}-headers">
              </td>
              <td class="field-apimethod">
                  <select name="apistep_set-{{ count }}-apimethod" id="id_apistep_set-{{ count }}-apimethod">
                                            <option value="get" selected>get</option>
  <option value="post">post</option>
  <option value="put">put</option>
  <option value="delete">delete</option>
  <option value="patch">patch</option>
</select>
              </td>
              <td class="field-apiparamvalue">
                  <input type="text" name="apistep_set-{{ count }}-apiparamvalue" class="CharField" maxlength="5000" id="id_apistep_set-{{ count }}-apiparamvalue" data-toggle="modal" data-target="#Revert" onclick="Values(this.id,this.value)">
              </td>
              <td class="field-exceptresponse">
                  <input type="text" name="apistep_set-{{ count }}-exceptresponse" class="CharField" maxlength="200" id="id_apistep_set-{{ count }}-exceptresponse">
              </td>
          <td class="add-row"></td>
        </tr>
        <tr class="form-row  empty-form"
             id="apistep_set-empty">
        <td class="original">
          <input type="hidden" name="apistep_set-__prefix__-id" id="id_apistep_set-__prefix__-id">
          <input type="hidden" name="apistep_set-__prefix__-Apitest" value="{{ apistep.Apitest_id }}" id="id_apistep_set-__prefix__-Apitest">
        </td>
              <td class="field-waittime">
                  <input type="text" name="apistep_set-__prefix__-waittime" class="CharField" maxlength="100" id="id_apistep_set-__prefix__-waittime">
              </td>
              <td class="field-title">
                  <input type="text" name="apistep_set-__prefix__-title" class="CharField" maxlength="200" id="id_apistep_set-__prefix__-title">
              </td>
              <td class="field-url">
                  <input type="text" name="apistep_set-__prefix__-url" class="CharField" maxlength="150" id="id_apistep_set-__prefix__-url">
              </td>
              <td class="field-headers">
                  <input type="text" name="apistep_set-__prefix__-headers" class="CharField" maxlength="100" id="id_apistep_set-__prefix__-headers">
              </td>
              <td class="field-apimethod">
                  <select name="apistep_set-__prefix__-apimethod" id="id_apistep_set-__prefix__-apimethod">
  <option value="get" selected>get</option>
  <option value="post">post</option>
  <option value="put">put</option>
  <option value="delete">delete</option>
  <option value="patch">patch</option>
</select>
              </td>
              <td class="field-apiparamvalue">
                  <input type="text" name="apistep_set-__prefix__-apiparamvalue" class="CharField" maxlength="5000" id="id_apistep_set-__prefix__-apiparamvalue" data-toggle="modal" data-target="#Revert" onclick="Values(this.id,this.value)">
              </td>
              <td class="field-exceptresponse">
                  <input type="text" name="apistep_set-__prefix__-exceptresponse" class="CharField" maxlength="200" id="id_apistep_set-__prefix__-exceptresponse">
              </td>

          <td class="add"></td>
            <td class="add"></td>
        </tr>

     </tbody>
   </table>

</fieldset>
  </div>
</div>
<div class="submit-row">
<input type="submit" value="保存" class="default" name="_save">
<p class="deletelink-box"><a href="/apitest_manage/delete/?id={{ apitest.id  }}" class="deletelink">删除</a></p>
<input type="submit" value="保存并增加另一个" name="_addanother">
<input type="submit" value="保存并继续编辑" name="_continue">
</div>
    <script id="django-admin-form-add-constants"
            src="/static/admin/js/change_form.js"
            async>
    </script>
<script id="django-admin-prepopulated-fields-constants"
        src="/static/admin/js/prepopulate_init.js"
        data-prepopulated-fields="[]">
</script>
</div>
    <!-- 模态框（Modal） -->
                    <div class="modal fade" id="Revert" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <input type="hidden" id="id" value = ''>
                                <textarea id="textarea" name="textarea1" style="width:100%;height:500px;" onchange="change(this.value)">
                                </textarea>
                            </div><!-- /.modal-content -->
                        </div><!-- /.modal -->
                    </div>
</form>
          </div>
          <br class="clear">
        </div>
        <!-- END Content -->
        <div id="footer"></div>
      </div>
    </div>
</div>
<!-- END Container -->
</body>
</html>
