<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>test</title>
</head>
<body>
<navbar class="navbar navbar-inverse navbar-fixed-top "></navbar>
<table border="0">
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="../product_manage" target="mainFrame">&nbsp;&nbsp;项目管理></a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>-----------------------------------</td>
    <tr><td>&nbsp;</td></tr>
     <tr>
        <td><a href="../apis_manage" target="mainFrame">&nbsp;&nbsp;单一接口测试用例></a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>

    <tr><td>&nbsp;</td></tr>
     <tr>
        <td><a href="../apitest_manage" target="mainFrame">&nbsp;&nbsp;流程接口列表></a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>

    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="../apistep_manage" target="mainFrame">&nbsp;&nbsp;流程接口测试步骤></a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="http://127.0.0.1:8000/admin/apitest/apitest/add" target="mainFrame" >&nbsp;&nbsp;新增api接口测试用例</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>-----------------------------------</td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="#" target="mainFrame">&nbsp;&nbsp;任务管理</a></td>
    </tr>
        <tr>
        <td>-----------------------------------</td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="../test_report" target="mainFrame">&nbsp;&nbsp;测试报告</a></td>
    </tr>


</body>
</html>