<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
<head>
    <title>test</title>
</head>
<body>
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
<div class="container">
    <a class="navbar-brand" href="../apistep_manage" target="mainFrame">自动化测试</a>
</div>
</nav>
<table border="0" >
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="../product_manage" target="mainFrame">&nbsp;&nbsp;项目管理</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>-----------------------------------</td>
    </tr>
        <tr><td>&nbsp;</td></tr>
     <tr>
        <td><a href="../apis_manage" target="mainFrame">&nbsp;&nbsp;接口测试单一接口管理</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
    <tr><td>&nbsp;</td></tr>
     <tr>
        <td><a href="../apitest_manage" target="mainFrame">&nbsp;&nbsp;接口测试流程管理</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>

    <tr><td>&nbsp;</td></tr>
     <tr>
        <td><a href="../apistep_manage" target="mainFrame">&nbsp;&nbsp;接口测试流程步骤管理</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>-----------------------------------</td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="../appcase_manage" target="mainFrame">&nbsp;&nbsp;app用例管理</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="../appcasestep_manage" target="mainFrame" >&nbsp;&nbsp;app测试用例</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>-----------------------------------</td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="../webcase_manage" target="mainFrame">&nbsp;&nbsp;web用例管理</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="http://localhost:9999/webcasestep_manage" target="mainFrame" >&nbsp;&nbsp;web测试用例</a></td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td>-----------------------------------</td>
    </tr>
    <tr><td>&nbsp;</td></tr>
    <tr>
        <td><a href="http://localhost:8080/job/allure-pytest/allure/" target="mainFrame">&nbsp;&nbsp;计划任务</a></td>
    </tr>

</table>
</body>
</html>