<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>产品自动化测试平台</title>
</head>
<body role="document">
<!--导航栏-->
<nav class="navbar navbar-expand-sm bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <ul class="nav justify-conteng-center">
        </ul>
        <ul class="nav justify-conteng-end">
        </ul>
        <ul class="nav-link"><a style="color:white" href="#">{{ user }}</a></ul>
        <ul class="nav-link"><a style="color:white" href="/logout/">退出</a></ul>
    </div>
</nav>

<!-设置列表-->
<div class="row" style="padding-top: 70px">
    <div class="col-md-ll">
        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>设置名称</th>
                <th>设置的值</th>
            </tr>
            </thead>
            <tbody>
            {% for set in sets %}
                <tr>
                    <td>{{ set.id }}</td>
                    <td>{{ set.setname }}</td>
                    <td>{{ set.setvalue }}</td>
                </tr>

            {% endfor %}
            </tbody>
        </table>
    </div>
</div>
</body>
</html>