<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html lang="zh-CN">
<head>
    {% load bootstrap4 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <title>产品自动化测试平台</title>
</head>
<body role="document">
<!-- 导航栏-->
<nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <div class="container">
        <a class="navbar-brand" href="#">&nbsp;</a>
        <u1 class="nav justify-content-center">

        </u1>
        <u1 class="nav justify-content-end">
            <li class="nav-link"><a style='color:white' href="#">{{ user }} </a></li>
            <li class="nav-link"><a style='color:white' href="/logout/">退出</a></li>
        </u1>
    </div>
</nav>
<!--搜索栏-->
<div class="page-header" style="padding-top:70px;">
    <form class="navbar-form" method="get" action="/productsearch/">
        {% csrf_token %}
        <input type="search" name="productname" placeholder="名称" required>
        <button type="submit">搜索</button>
    </form>
</div>
<!--产品列表-->
<div class="row" style="padding-top:20px">
    <div class="col-md-11">
        <table class="table table-striped">
            <thead>
            <tr><td>&nbsp;</td></tr>
            <tr>
                <th>ID</th><th>产品名称</th><th>产品描述</th><th>产品负责人</th><th>创建时间</th>
            </tr>
            </thead>
            <tbody>
            {% for product in products %}
            <tr>
                <td>{{ product.id }}</td>
            <td>{{ product.productname }}</td>
            <td>{{ product.productdesc }}</td>
            <td>{{ product.producter }}</td>
            <td>{{ product.create_time }}</td>
            </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
</div>

<div class="container nav justify-content-center ">
    <ul class="pagination" id="pager">
        {# 上一页链接开始 #}
        {% if  apitest.has_previous %}
            {# 如果有上一页，则正常显示上一页链接 #}
            <li class="previous">
                <a href="/product_manage/?page={{ products.previous_page_number }}">上一页</a></li>
            {# 上一页标签 #}
            {% else %}
            <li class="previous disabled"><a href="#">上一页</a></li>
            {% endif %}
            {# 上一页标签结束 #}
            {% for num in products.paginator.page_range %}
                {% if num == currentpage %}
            <li class="item active"><a href="/product_manage/?page={{ num }}">&nbsp; {{ num }}> &nbsp;</a>
                {% else %}
                <li class="item"><a href="/product_manage/?page={{ num }}">&nbsp; {{ num }} &nbsp;</a>
                {% endif %}
            {% endfor %}
        {# 下一页链接开始 #}
            {% if products.has_next %}
            {# 如果有下一页，则正常显示下一页链接 #}
            <li class="next">
                <a href="/product_manage/?page={{ products.next_page_number }}">下一页</a></li>
            {% else %}
        <li class="next disabled"><a herf="#">下一页</a></li>
            {% endif %}
            {#下一页结束#}
            </li>
    </ul>

</div>
</body>
</html>